<h2 class="page-header">Send Mail</h2>
<form (submit)="onSendSubmit()">
  <div class="form-group">
    <label for="sendingTo">To:</label>
    <input type="text" class="form-control" id="recipient" [(ngModel)]="recipient" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="subject">Subject:</label>
    <input type="text" class="form-control" id="subject" [(ngModel)]="subject" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="text">Text:</label>
    <textarea class="form-control" rows="5" id="text" [(ngModel)]="text" [ngModelOptions]="{standalone: true}"></textarea>
  </div>

  <div style="text-align: right">
    <input type="submit" class="btn btn-primary" value="Send">
  </div>
</form>
