<div class="jumbotron text-center">
  <h1>mailMe</h1>
  <p class="lead">Welcome to our web email client for gmail!</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-info" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h3>Patryk Mazur</h3>
    <p></p>
  </div>
  <div class="col-md-3">
    <h3>Michał Piątek</h3>
    <p></p>
  </div>
  <div class="col-md-3">
    <h3>Maciej Rusek</h3>
    <p></p>
  </div>
    <div class="col-md-3">
    <h3>Wojciech Sabat</h3>
    <p></p>
  </div>
</div>